$input-border-color: #48494d;
$popular-text-color: #807b82;
$button-primary: #010101;
$text-color: #d4dbda;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $primary: $button-primary,
  $control-border-width: 1px,
  $text: $text-color
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");